@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    margin: 0px 0px;
}

main {
    margin-top: 5rem;
    margin-bottom: 3rem;
}